@model FirstResponsiveWebAppChristensen.Models.UserAgeModel
@{
    Layout = null;
}

<div class="text-center">
    <h1>Guess Your Age</h1>
    <form asp-action="Index" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name">Enter your Name</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="birthYear">Enter your year of Birth</label>
            <input asp-for="birthYear" />
        </div>
        <div>
            <label>@ViewBag.Name, Your age is</label>
            <input value="@ViewBag.Age.ToString()" readonly />
        </div>
        <button type="submit">Calculate Age</button>
        <a asp-action="Index">Clear</a>
    </form>
</div>
